.bouquetImage {
  width: 150px;
  height: 150px;
}

.bouquet {
  margin: 30px;
}

.sortingBar {
  margin: 20px;
}

.hiddenCard {
  display: none;
}

.priceSlider {
  width: 300px;
}

.content {
  margin: 10px 10px 10px 70px;
}

@media (max-width: 600px) {
  .content {
    margin: 60px 10px 10px 10px;
  }
}

.modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 400px;
        min-height: 200px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px;
}

.bouquetAddGridItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.addBouquetImage{
    object-fit: contain;
    border-radius: 4px;
    height: 260px;
    width: 260px;
  }


  .addImageBtn{
    width: 300px;
  }

/* image cropper component */

.addImage input {
    display: none;
}

.addImage h5 {
    text-align: center;
}


.addImage .fileButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

}

.addImage .selectFileButton {
    display: inline-flex;
    position: relative;
    background-color: #1976d2;
    color: white;
    border-radius: 4px;
    padding: 6px 16px;
    text-transform: uppercase;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    margin-right: 5px;
}

.addImage .selectFileButton:hover {
    background-color: #1565c0;
}

.addImage .closeBtn{
    margin-left: 5px;
}

.addImage .cropperBtns {
    display: flex;
    flex-direction: row;

}

.addImage .cropperBtn {
    margin: 0px 4px;
}

.addImage .cropperContainer {
    padding: 16px;
}

.addImage .cropperModule {
    border-radius: 16px;
    overflow: hidden;
}

