.bouquetImage {
  width: 150px;
  height: 150px;
}

.bouquet {
  margin: 30px;
}

.sortingBar {
  margin: 20px;
}

.hiddenCard {
  display: none;
}

.priceSlider {
  width: 300px;
}

.content {
  margin: 10px 10px 10px 70px;
}

.loadingIndicatorContainer {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}

.buttonLoadingIndicator {
    width: 25px;
    height: 25px;
    color: rgba(0, 0, 0, 0.12);
}

.buttonLoading {
    padding-top: 5px;
}

.addBouquetButton {
    height: 37px;
}

.imageError {
    color: #d32f2f;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}


@media (max-width: 600px) {
  .content {
    margin: 60px 10px 10px 10px;
  }
}

.addBouquetImage{
    object-fit: contain;
    border-radius: 4px;
    height: 260px;
    width: 260px;
  }


  .addImageBtn{
    width: 300px;
  }

.modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 400px;
        min-height: 200px;
        max-height: 80vh;
        max-width: 80vw;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px;
}

.bouquetAddGridItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
}



/* image cropper component */

.addImage {
    min-height: 50px;
}

.addImage input {
    display: none;
}

.addImage h5 {
    text-align: center;
}


.addImage .fileButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

}

.addImage .selectFileButton {
    display: inline-flex;
    position: relative;
    background-color: #1976d2;
    color: white;
    border-radius: 4px;
    padding: 6px 16px;
    text-transform: uppercase;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    margin-right: 5px;
}

.addImage .selectFileButton:hover {
    background-color: #1565c0;
}

.addImage .closeBtn{
    margin-left: 5px;
}

.addImage .cropperBtns {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.addImage .cropperBtn {
    margin: 0px 4px;
}



.addImage .cropperModule {
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction:column;
    margin:20px;
 
}

.cropperModule img {
        display: block;
      
        /* This rule is very important, please don't ignore this */
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }


