.bouquetImage {
  width: 150px;
  height: 150px;
}

.bouquet {
  margin: 30px;
}

.sortingBar {
  margin: 20px;
}

.hiddenCard {
  display: none;
}

.priceSlider {
  width: 300px;
}

.content {
  margin: 10px 10px 10px 70px;
}

@media (max-width: 600px) {
  .content {
    margin: 60px 10px 10px 10px;
  }
}
